body {
  font-family: tahoma;
  background-color: #E59A37;
  color: gray;
}
  
  h1 {
  font-size: 45px;
}
li {
  font-style: italic;
}
h3 {
  text-decoration: underline;
}
a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}